.sidebar-nav {
  opacity: 1;
  background-color: var(--bg-color);
  display: flex;
  color: var(--primary-color);
  height: 100%;
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  display: flex;
  justify-content: right;
  flex-direction: column;
  z-index: 1000;
 
}

.sidebar-nav.open{
  animation: open-ham .2s ease-in-out forwards;
}

.sidebar-nav.close{
  animation: close-ham .2s ease-in-out forwards;
}

@keyframes open-ham {
  0%{
    width: 0%;
  }

  100%{
    width: 100%;
  }
}

@keyframes close-ham {
  0%{
    width: 100%;
  }

  100%{
    width: 0%;
  }
}


body.hide {
  overflow: hidden;
}


.close-action{
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
}

.close-icon{
  cursor: pointer;
  content:"";
  height: 30px;
  width: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  padding:15px 10px;
}

.close-icon::before{
  position: absolute;
  content:"";
  height: 30px;
  width: 2px;
  background-color: var(--primary-color);
  transform: rotate(-45deg);
}

.close-icon::after{
  position: absolute;
  content:"";
  height: 30px;
  width: 2px;
  background-color: var(--primary-color);
  transform: rotate(45deg);
}

.ham-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-wrap: wrap;
}

.ham-content a {
  position: relative;
  text-decoration: none;
  color: var(--primary-color);
  font-family: inherit;
  font-size: var(--text-xl);
  text-align: center;
  padding: 1.5em 0px;
}

.ham-content a:hover{
 background-color: var(--button-text);
 color: var(--button-bg); 
}

.button-action{
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}


.button-action button{
  padding: 18px 50px;
}