.nav-header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  z-index: 13;
  height: var(--nav-height);
  box-shadow: 0 10px 30px -10px rgb(227, 227, 227);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em 1em;
}

.logo-container a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

.logo-text {
  font-size: var(--text-2xl);
  cursor: pointer;
  border: 2px solid rgb(46, 46, 46);
  border-radius: var(--button-radius);
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: ease-in-out 0.3s;
}

.logo-text:hover {
  box-shadow: 5px 5px var(--blue-theme);
  transform: translate(-5px, -2px);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: inherit;
  text-align: center;
}

.navbar a {
  position: relative;
  text-decoration: none;
  color: var(--fourth-color);
  font-family: inherit;
  font-size: var(--text-xl);
  text-align: left;
  margin: 0px 20px;
}

.resume-button {
  font: inherit;
  font-size: var(--text-xl);
  cursor: pointer;
  padding: 10px 15px;
  margin: 0px 20px;
  background-color: white;
  border-radius: var(--button-radius);
  border: 1px solid black;
  transition: ease-in-out 0.3s;
}

.resume-button:hover {
  transform: translate(-5px, -2px);
  box-shadow: 5px 5px var(--blue-theme);
}

.navbar a:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: var(--secondary-color);
  text-decoration: none;
  left: 0;
  bottom: -0.1em;
  transition: 0.2s width ease-in-out;
}

.navbar a:hover:after {
  text-decoration: none;
  color: var(--primary-color);
  height: 2px;
  font-family: inherit;
  width: 100%;
  left: 0;
  bottom: -0.1em;
  font-size: var(--text-2xl);
}

.burger {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.hamburger-menu {
  display: flex;
  width: 30px;
  gap: 7px;
  cursor: pointer;
  flex-direction: column;
  padding: 0px 10px;
}

.bar {
  display: flex;
  width: 100%;
  height: 3px;
  background-color: black;
}

.resume-link:hover:after{
  display: none;
}




