.experience-block {
  display: flex;
  justify-content: center;
  padding-top: var(--nav-height);
}

.experience-block .container {
  display: flex;
  justify-content: flex-start;
  padding: 2em;
  width: 80%;
}

.experience-block .container .title {
  display: flex;
  justify-content: flex-start;
  text-wrap: nowrap;
  width: 100%;
  font-size: var(--text-4xl);
  font-weight: 700;
  color: rgb(0, 0, 0);
}

/* .experience-block .container .title::after {
  content: "";
  width: 100%;
  background-color: hsl(0, 0%, 79%);
  height: 1px;
  position: relative;
  top: 25px;
  margin-left: 1em;
} */

.experience-block .content {
  display: flex;
}

.companies {
  display: flex;
  justify-content: left;
  width: 100%;
  border-bottom: 1px solid var(--light-border);
}

.company {
  cursor: pointer;
  display: flex;
  padding: 1em;
  justify-content: flex-start;
  color: var(--secondary-menu);
}

.active {
  color: var(--primary-menu);
  border-bottom: 1px solid black;
}

.company:hover {
  color: var(--primary-menu);
}

.company:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
}

.company-block {
  padding: 0em 1em;
  width: 100%;
}

.experience-summary ul {
  margin: 0;
  padding: 0;
}
