.experience-block {
  display: flex;
  justify-content: center;
  padding-top: var(--nav-height);
}

.experience-block .container {
  display: flex;
  justify-content: flex-start;
  padding: 2em;
  flex-wrap: wrap;
  max-width: 950px;
}

.experience-block .container .title {
  display: flex;
  justify-content: flex-start;
  text-wrap: nowrap;
  width: 100%;
  font-size: var(--text-4xl);
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.experience-block .content {
  display: flex;
}

.companies {
  display: flex;
  justify-content: left;
  width: 100%;
  font-size: var(--text-lg);
  border-bottom: 1px solid var(--light-border);
}

.company {
  cursor: pointer;
  display: flex;
  padding: 1em;
  justify-content: flex-start;
  color: var(--secondary-menu);
}

.company.active {
  color: var(--primary-menu);
  border-bottom: 3px solid var(--primary-menu);
}

.company:hover {
  color: var(--primary-menu);
}

.experience-info {
  display: flex;
  padding-left: 1em;
  position: relative;
}

.experience-info ul {
  margin: 0;
  padding: 0;
}

.company-block {
  display: flex;
  flex-direction: column;
}

.experience-title {
  display: flex;
  font-size: var(--text-2xl);
  padding: 4px 0;
}

.experience-duration {
  display: flex;
  font-size: var(--text-base);
  font-style: italic;
  padding-bottom: 4px;
}

.experience-summary {
  display: flex;
  padding: 1em;
  text-align: justify;
  font-size: var(--text-lg);
}

.experience-summary ul,
li {
  margin: 0;
  padding: 0;
}

.experience-skills {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill-tag {
  display: flex;
  flex-direction: row;
  background-color: var(--tag-bg);
  border-radius: var(--tag-radius);
  color: var(--primary-color);
  font-size: var(--text-xs);
  margin: 4px;
  padding: 8px 16px;
}

.scroll-right-container {
  padding: 1em;
  position: absolute;
  top: 0%;
  right: 100px;
  cursor: pointer;
  border: 1px solid var(--light-border);
  align-items: center;
  display: flex;
  border-radius: 50%;
  transition : ease-in-out 0.3s 
}

.scroll-left-container {
  padding: 1em;
  position: absolute;
  top: 0%;
  right: 0;
  cursor: pointer;
  border: 1px solid var(--light-border);
  background-color: var(--button-bg);
  align-items: center;
  display: flex;
  border-radius: 50%;
  transition : ease-in-out 0.3s;
  
}

.scroll-left-container:hover {
  box-shadow: 1px 1px 7px var(--blue-theme);
  transform: translate(-2px, -2px);
}

.scroll-right-container:hover {
  box-shadow: 1px 1px 10px var(--blue-theme);
  transform: translate(-2px, -2px);
}
