.skills-block {
  display: flex;
  justify-content: center;
  padding-top: var(--nav-height);
}

.skills-block .container {
  display: flex;
  justify-content: flex-start;
  padding: 2em;
  width: 100%;
  flex-wrap: wrap;
}

.skills-block .container .title {
  display: flex;
  width: inherit;
  justify-content: flex-start;
  text-wrap: nowrap;
  font-size: var(--text-4xl);
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.skills-block .wrapper {
  display: grid;
  width: inherit;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  grid-auto-rows: 100px;
}

.skills-block .wrapper > div {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-filter {
  display: flex;
  width: inherit;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1em;
  padding: 10px 2px;
  flex-wrap: wrap;
}

.skills-filter .filter-item {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: var(--button-radius);
  cursor: pointer;
}

.skills-filter .filter-item:hover {
  box-shadow: 5px 5px var(--blue-theme);
  transform: translate(-5px, -2px);
}

.filter-item.active {
  color: white;
  background-color: rgb(0, 0, 0);
}

.filter-item.active:hover{
  color: white;
  background-color: black;
  box-shadow: none;
  transform: none;
}