:root {
  --bg-color: #1b1b1f;

  --primary-color: #dfdfd6;
  --secondary-color: #70fe5a;

  --third-color: #202127;

  --text-1xs: 0.6rem;
  --text-xs: 0.8rem;
  --text-small: 0.945rem;
  --text-base: 1.1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.75rem;
  --text-6xl: 3rem;
  --text-7xl: 3.5rem;
  --text-8xl: 4rem;
  --text-9xl: 6rem;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  font-size: var(--text-base);
  line-height: 1.5;
  background-color: var(--bg-color);
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  transition: ease-in-out;
}

.header-tops {
  display: flex;
  height: 100dvh;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 370px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  height: inherit;
  box-sizing: border-box;
}

@media (width<=800px) {
  body {
    --text-small: 0.7rem;
    --text-base: 0.8rem;
    --text-lg: 1rem;
    --text-xl: 1.125rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.55rem;
    --text-4xl: 1.875rem;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
