:root {
  --bg-color: hsl(0, 0%, 100%);
  --primary-color: hsl(0, 0%, 0%);
  --secondary-color: hsl(0, 0%, 11%);

  --blue-theme: hsl(221.2 83.2% 53.3%);

  --secondary-menu: hsla(0, 0%, 0%, 0.6);
  --primary-menu: hsl(0, 0%, 0%);

  --light-border: rgb(228, 228, 228);

  --button-bg: hsl(0, 0%, 100%);
  --button-text: hsl(0, 0%, 0%);

  --tag-radius: 20px;
  --tag-bg: hsl(0, 0%, 95%);

  --red-flame:hsl(7, 81%, 48%);

  --nav-height: 4.5em;

  --text-1xs: 0.6rem;
  --text-xs: 0.8rem;
  --text-small: 0.945rem;
  --text-base: 1.1rem;
  --text-md: 1.1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.75rem;
  --text-6xl: 3rem;
  --text-7xl: 3.5rem;
  --text-8xl: 4rem;
  --text-9xl: 6rem;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  font-size: var(--text-base);
  line-height: 1.5;
  background-color: var(--bg-color);
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  transition: ease-in-out;
  min-height: 100dvh;
  min-width: 320px;
}

.portfolio-content {
  display: block;
  box-sizing: border-box;
  flex-direction: column;
}

main {
  display: block;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  height: inherit;
}

@media (width<=800px) {
  body {
    --text-small: 0.7rem;
    --text-base: 0.8rem;
    --text-lg: 1rem;
    --text-xl: 1.125rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.55rem;
    --text-4xl: 1.875rem;
    --text-5xl: 2rem;
    --text-6xl: 2.125rem;
    --text-7xl: 2.75rem;
    --text-8xl: 3rem;
    --text-9xl: 4rem;
  }

  .header-tops::before {
    display: none;
  }

  .header-container {
    font-size: var(--text-4xl);
  }

  .about-container {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .about-container {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .about-container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .about-container {
    width: 80%;
  }
}

@media (width <= 576px) {
  .about-container {
    width: 80%;
  }

  .logo-text {
    font-size: var(--text-lg) !important;
    padding: 6px 12px !important;
  }

  .experience-block .container .title::after {
    width: 200px !important;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.move-top {
  padding: 1em;
  position: fixed;
  bottom: 0;
  right: 0px;
  margin:1em;
  cursor: pointer;
  border: 1px solid var(--light-border);
  border-radius: 50%;
  background-color: var(--button-bg);
  align-items: center;
  display: flex;
  transition: 0.3s ease-in-out
}

.move-top:hover{
  transform: translate(0px, -4px);
  box-shadow: 1px 6px var(--red-flame);
}

