:root {
  --bg-color: #ffffff;

  --primary-color: #000000;
  --secondary-color: #ffffff;
  --fourth-color: #55d5d2;
  
/* 
  --mouse-x: 1243px;
  --mouse-y: 291px; */

  --text-1xs: 0.6rem;
  --text-xs: 0.8rem;
  --text-small: 0.945rem;
  --text-base: 1.1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.75rem;
  --text-6xl: 3rem;
  --text-7xl: 3.5rem;
  --text-8xl: 4rem;
  --text-9xl: 6rem;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--primary-color);
  font-size: var(--text-base);
  line-height: 1.5;
  background-color: var(--bg-color);
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  transition: ease-in-out;
  min-height: 100dvh;
  min-width: 320px;
}

.header-tops {
  display: block;
  box-sizing: border-box;
  flex-direction: column;
}

/* .header-tops::before{
  background: radial-gradient( 800px circle at var(--mouse-x) var(--mouse-y) ,
  rgba(59, 82, 187, 0.397),transparent 70%);
  position: sticky;
  content: "";
  z-index: -2;
  width:100%;
  border: 1px solid green;
  height:100%;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  height: inherit;
}

@media (width<=800px) {
  body {
    --text-small: 0.7rem;
    --text-base: 0.8rem;
    --text-lg: 1rem;
    --text-xl: 1.125rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.55rem;
    --text-4xl: 1.875rem;
    --text-5xl: 2rem;
    --text-6xl: 2.125rem;
    --text-7xl: 2.75rem;
    --text-8xl: 3rem;
    --text-9xl: 4rem;
  }
  
  .header-tops::before{
    display: none;
  }

  .header-container {
    font-size: var(--text-4xl);
  }
  
  .about-container {
    width: 40%;
  }

}

@media (max-width: 1200px) {
 
  .about-container {
    width: 80%;
  }

}

@media (max-width: 992px) {

  .about-container {
    width: 80%;
  }

}

@media (max-width: 768px) {

  .about-container {
    width: 80%;
  }

}

@media (max-width: 576px) {

  .about-container {
    width: 80%;
  }

}
