.hero-block {
  display: flex;
  min-height: 100dvh;
  justify-content: center;
  padding-top: var(--nav-height);
}

.hero-block .container {
  display: flex;
  justify-content: center;
  padding: 2em;
  flex-wrap: wrap;
  color: rgb(40, 40, 40);
  max-width: 650px;
}

.hero-block p {
  margin: 0;
  padding: 0;
}

.hero-greet {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: var(--text-4xl);
  font-weight: 300;
  gap: 3em;
}

.hero-summary {
  display: flex;
  justify-content: flex-start;
  width: inherit;
  width: 100%;
  font-size: var(--text-3xl);
  font-weight: 300;
}

.hero-connect {
  display: flex;
  justify-content: flex-start;
  width: inherit;
  width: 100%;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  font-size: var(--text-xl);
  font-weight: 300;
}

.hero-connect a {
  padding: 0px 2px;
  margin: 0;
  color: black;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: #007bff;
  transition: 0.15s ease-in-out;
  font-weight: 350;
}

.hero-connect a:hover {
  box-shadow: inset 0 -30px 0 #007bff;
  color: white;
}

.typewrite-container {
  display: flex;
  text-wrap: nowrap;
  color: var(--blue-theme);
  border-right: 3px solid var(--secondary-color);
  padding: 0px 5px;
  overflow: hidden;
  animation: typing 2s steps(30, end), blinks 0.6s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blinks {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--secondary-color);
  }
}
