.hero-block {
  display: flex;
  justify-content: center;
  min-height: 100dvh;
}

.hero-block .container {
  display: flex;
  justify-content: center;
  padding: 2em;
  padding-top: var(--nav-height);
  flex-wrap: wrap;
  color: var(--primary-color);
  max-width: 650px;
  position: relative;
}

.hero-block p {
  margin: 0;
  padding: 0;
}

.hero-greet {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: var(--text-4xl);
  font-weight: 300;
  gap: 2em;
}

.hero-summary {
  width: inherit;
  width: 100%;
  font-size: var(--text-3xl);
  font-weight: 300;
}

.hero-skill {
  display: flex;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  flex-direction: row;
  font-size: var(--text-2xl);
  font-weight: 500;
  width: fit-content;
}

.skil-title {
  display: flex;
}

.typewrite-container {
  display: flex;
  color: var(--blue-theme);
  border-right: 3px solid var(--secondary-color);
  overflow: hidden;
  animation: typing 2.10s infinite ;
}

@keyframes typing {
  0% {
    width: 0%;
  }

  40%,
  60% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes blinks {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--secondary-color);
  }
}

.hero-connect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: inherit;
  width: 100%;
  font-size: var(--text-2xl);
  font-weight: 300;
}

.hero-connect a {
  display: flex;
  width: fit-content;
  margin: 0;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-color: #007bff;
  transition: 0.3s ease-in-out;
  font-weight: 350;
}

.hero-connect a:hover {
  box-shadow: inset 0 -55px 0 #007bff;
  color: white;
}
